@font-face {
    font-family: dmSans;
    src: url("../assets/DMSans-VariableFontWeight.ttf");
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --yellow: #feee95;
    --cyan: #43facf;
    --sky-blue: #b9e6fe;
    --pink: #fecdd6;
    --pink-alter: #ffe8eb;
    --purple-light: #d9d6fe;
    --peach: #f9dbaf;

    --font: dmSans;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-sbold: 500;
    --fw-bold: 600;
    --fw-ubold: 700;
    --fw-black: 800;

    --fs-big1: 2.5rem;
    /* 40px */
    --fs-big2: 2rem;
    /* 32px */
    --fs-big3: 1.75rem;
    /* 28px */
    --fs-medium1: 1.5rem;
    /* 24px */
    --fs-medium2: 1.25rem;
    /* 20px */
    --fs-medium3: 1.125rem;
    /* 18px */
    --fs-small1: 1rem;
    /* 16px */
    --fs-small2: 0.875rem;
    /* 14px */
    --fs-small3: 0.75rem;
    /* 12px */

    --gap-of-u1: 0.5rem;
    --gap-of-u2: 0.75rem;
    --gap-of-u3: 0.875rem;
    --gap-of-u4: 1rem;
    --gap-of-u5: 1.125rem;
    --gap-of-u6: 1.25rem;
    --gap-of-u7: 1.5rem;
    --gap-of-u8: 1.75rem;
    --gap-of-u9: 2rem;
    --gap-of-u10: 2.5rem;
    --gap-of-u11: 3rem;
    --gap-of-u12: 4rem;

    --container-width: 90vw;
    --container-padding: calc((100vw - var(--container-width))/2);
    --left: calc((100vw - var(--container-width))/2);
    --right: calc((100vw - var(--container-width))/2);
    --line-height: 2.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    z-index: 1;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}